Source: ros-jazzy-sick-safetyscanners2
Section: misc
Priority: optional
Maintainer: Lennart Puck <puck@fzi.de>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, liburdfdom-tools <!nocheck>, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-pytest <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-diagnostic-updater, ros-jazzy-launch-testing-ament-cmake <!nocheck>, ros-jazzy-launch-testing-ros <!nocheck>, ros-jazzy-rclcpp, ros-jazzy-rclcpp-lifecycle, ros-jazzy-sensor-msgs, ros-jazzy-sick-safetyscanners-base, ros-jazzy-sick-safetyscanners2-interfaces, ros-jazzy-xacro <!nocheck>, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-sick-safetyscanners2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-jazzy-diagnostic-updater, ros-jazzy-rclcpp, ros-jazzy-rclcpp-lifecycle, ros-jazzy-robot-state-publisher, ros-jazzy-rviz2, ros-jazzy-sensor-msgs, ros-jazzy-sick-safetyscanners-base, ros-jazzy-sick-safetyscanners2-interfaces, ros-jazzy-xacro, ros-jazzy-ros-workspace
Description: ROS2 Driver for the SICK safetyscanners
